:root {

  /* --bg: #0F172A; */
  --bg: #E6FAFA;
  --sidebar: #111827;
  --card: #1E293B;

  --primary: #2563EB;

  --success: #22C55E;
  --warning: #F59E0B;
  --danger: #EF4444;

  --text: #11181C;
  --text-secondary: #94A3B8;

  --border: #334155;

  --radius: 12px;

}